<?xml version="1.0" encoding="UTF-8"?>
<configuration>
 <system.webServer>   
   <handlers>
     <add  name="httpPlatformHandler"
           path="*"
           verb="*"
           modules="httpPlatformHandler"
           resourceType="Unspecified" />
   </handlers>
   <httpPlatform processPath="%HOME%\site\wwwroot\bin\solr.cmd"
       arguments="start -p %HTTP_PLATFORM_PORT%"
       startupTimeLimit="20"
       startupRetryCount="10"
       stdoutLogEnabled="true">
   </httpPlatform>
 </system.webServer>
</configuration>
